body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.site-header {
    background-color: #ffffff; /* white */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.site-header .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.site-header .logo_img {
    height: 50px;
}

.site-header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.site-header nav ul li {
    margin-left: 20px;
}

.site-header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight:700;
    padding: 10px 15px;
    border-radius: 5px;
}

.site-header nav ul li a:hover {
    background-color: #006400;
    color: white;
}

div.page {
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    position: relative;
    max-width: 940px;
    padding: 0 20px;
    margin: 0 auto;
    min-height: 500px;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #004d00;
    font-size: 24px;
}

.form-group {
    margin-left: 100px;
    display: flex;
    align-items: center; /* 수직 정렬 */
    gap: 10px; /* label과 select 사이 여백 */
}

.form-label {
    font-weight: bold; /* label 강조 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;;
}

table td {
    padding: 10px;
    font-weight: bold;
}


footer.bottom {
    line-height: 1.6;
    margin: 0 -20px -20px;
    padding: 30px 20px 10px 20px;
    background-color: #006400;
    position: relative;
    color: #fff;
    line-height: 1.4;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    clear: both;
    text-align:center;
}

@media (max-width: 768px) {
    .site-header {
        flex-direction: column;
        text-align: center;
    }

    .site-header nav ul {
        flex-direction: column;
        padding-top: 10px;
    }

    .site-header nav ul li {
        margin: 5px 0;
    }

    form input[name="name"] {
        width: 90%;
    }
}
