<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고령지농업연구소 감자 유전자원</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cultivar_detail.css') }}">
</head>
<body>
    <div class="page">
        <header class="site-header">
            <div class="HARI-section">
                <a href="https://www.nics.go.kr/index.do" class="logo" title="www.hariwebsite" data-wm-linkcode="CO3">
                <img class="logo_img" src="{{ url_for('static', filename='main.png') }}" alt="Highland Agriculture Research Institute">
                </a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="{{ url_for('home') }}">메인</a>
                    </li>
                    <li>
                        <a href="{{ url_for('cultivar_list') }}">품종명</a>
                    </li>
                    <li>
                        <a href="{{  url_for('flesh_color') }}">
                            육색
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="container">
            <h2>고령지농업연구소 감자 유전자원 데이터베이스</h2>
            <hr class="line2" color="#006400">
            <table>
                <tr>
                    <th>영명</th>
                    <th>국명</th>
                    <th>IT number</th>
                </tr>
                <tr>
                    <td>{{cultivar.name}}</td>
                    <td>{{cultivar.korean_name}}</td>
                    <td>{{cultivar.it_number}}</td>
                </tr>
            </table>

            <br>
            <br>
            <br>
            <div class="form-group">
                <label for="Depths">Pedigree depth</label>
                <select id="Depths" name="depth" onchange="redirectPage()">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3"selected>3</option>
                </select>
            </div>
            <br>

            {% if cultivar %}

                <img src="{{ url_for('static', filename=cultivar.pedigree3) }}" alt="{{ cultivar.name }} pedigree" usemap="#family-map" width="800">
                
                <map name="family-map">
                    {% set pedigree_positions = {
                        cultivar.name: (1,2),
                        cultivar.get('male', 'Unknown'): (2,1),
                        cultivar.get('female', 'Unknown'): (2,3)
                    } %}

                    <area shape="rect" coords="110,235,200,270" href="#" onclick="goToCultivarDetail('{{ cultivar.name }}')" alt="{{ cultivar.name }}">
                    <area shape="rect" coords="277,125,367,155" href="#" onclick="goToCultivarDetail('{{ cultivar.male }}')" alt="{{ cultivar.male }}">
                    <area shape="rect" coords="277,328,367,358" href="#" onclick="goToCultivarDetail('{{ cultivar.female }}')" alt="{{ cultivar.female }}">
                    <area shape="rect" coords="450,100,540,130" href="#" onclick="goToCultivarDetail('{{ cultivar.male_male }}')" alt="{{ cultivar.male_male }}">
                    <area shape="rect" coords="450,190,540,220" href="#" onclick="goToCultivarDetail('{{ cultivar.male_female }}')" alt="{{ cultivar.male_female }}">
                    <area shape="rect" coords="450,284,540,314" href="#" onclick="goToCultivarDetail('{{ cultivar.female_male }}')" alt="{{ cultivar.female_male }}">
                    <area shape="rect" coords="450,374,540,404" href="#" onclick="goToCultivarDetail('{{ cultivar.female_female }}')" alt="{{ cultivar.female_female }}">
                    <area shape="rect" coords="620,80,710,110" href="#" onclick="goToCultivarDetail('{{ cultivar.male_male_male }}')" alt="{{ cultivar.male_male_male }}">
                    <area shape="rect" coords="620,122,710,152" href="#" onclick="goToCultivarDetail('{{ cultivar.male_male_female }}')" alt="{{ cultivar.male_male_female }}">
                    <area shape="rect" coords="620,168,710,198" href="#" onclick="goToCultivarDetail('{{ cultivar.male_female_male }}')" alt="{{ cultivar.male_female_male }}">
                    <area shape="rect" coords="620,215,710,245" href="#" onclick="goToCultivarDetail('{{ cultivar.male_female_female }}')" alt="{{ cultivar.male_female_female }}">
                    <area shape="rect" coords="620,260,710,290" href="#" onclick="goToCultivarDetail('{{ cultivar.female_male_male }}')" alt="{{ cultivar.female_male_male }}">
                    <area shape="rect" coords="620,302,710,332" href="#" onclick="goToCultivarDetail('{{ cultivar.female_male_female }}')" alt="{{ cultivar.female_male_female }}">
                    <area shape="rect" coords="620,348,710,378" href="#" onclick="goToCultivarDetail('{{ cultivar.female_female_male }}')" alt="{{ cultivar.female_female_male }}">
                    <area shape="rect" coords="620,395,710,425" href="#" onclick="goToCultivarDetail('{{ cultivar.female_female_female }}')" alt="{{ cultivar.female_female_female }}">

                </map>


                <script>
                    function redirectPage() {
                        let selectedValue = document.getElementById("Depths").value;
                        let cultivarName = "{{ cultivar.name }}";
                        window.location.href = "/cultivar/" + cultivarName + "/" + selectedValue;
                    }
                </script>


                <script>
                    function goToCultivarDetail(name) {
                        if (!name || name === "None") {
                            window.location.href = "/no_results";
                        } else {
                            window.location.href = "/cultivar/" + encodeURIComponent(name);
                        }
                    }
                </script>


                <br>
                <table>
                    <tr>
                        <td>
                          <img src="{{ url_for('static', filename=cultivar.img) }}" alt="{{ cultivar.name }} image" style="margin-top: 20px; max-width: 100%; height: auto;">
                        </td>
                        <td style="text-align:left;">
                            Category: {{ cultivar.category }}<br>
                            Market usage: {{ cultivar.market }}<br>
                            Breeding project: {{ cultivar.breeding_project }}<br>
                            Release year: {{ cultivar.release_year }}<br><br>
                            Yield:{{ cultivar.yie }}<br>
                            Length-width ratio:0<br>
                            Maturity: {{ cultivar.maturity }}<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="{{ url_for('static', filename=cultivar.specific_gravity_graph) }}" alt="{{ cultivar.name }} specific gravity graph" style="margin-top: 20px; max-width: 100%; height: auto;">
                        </td>
                        <td style="text-align:left;">
                            <img src="{{ url_for('static', filename=cultivar.lw_graph) }}" alt="{{ cultivar.name }} length width ratio graph" style="margin-top: 20px; max-width: 100%; height: auto;">
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            비중 정규분포 그래프: 대조 수미
                        </td>
                        <td style="text-align:center;">
                            장폭비 정규분포 그래프: 대조 수미
                        </td>
                    </tr>
                </table>

            {% else %}
                <p>해당 품종에 대한 정보가 없습니다.</p>
            {% endif %}
        </div>
    </div>

    <footer class="bottom">
        <p>&copy; 2025 My Website. All rights reserved. Last update: 2025.02.04</p>
    </footer>
</body>
</html>
